.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  /* background: #343a40; */
  background: #212529;
}
/* 
footer{
  position:absolute;
  bottom:0px;
  right:0px;
  left:0px;

} */
.brndColor {
  background-color: #66fcf1;
}
.brndColor-Outline {
  outline-color: cornflowerblue;
}
.drkColor{
  background-color: #45a29e;
}
.productShowcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-outline{
  color: #000000;
  border-color: #061312;
}
.btnbrnd{
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .col-4 {
    width: 80%;
  }
}

