.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  /* background: #343a40; */
  background: #212529;
}
/* 
footer{
  position:absolute;
  bottom:0px;
  right:0px;
  left:0px;

} */
.brndColor{
  background-color: #61DBFB;
}
.brndColor-Outline{
  outline-color: cornflowerblue;
}
.card{
  width: 100%;
}